body {
  background-color: #f4f4f1;
  color: #21639c;
  font-family: "Ubuntu-Bold";
  margin: 0;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"),
    url("./fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Light";
  src: local("Ubuntu-Light"),
    url("./fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: local("Ubuntu-Medium"),
    url("./fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: local("Ubuntu-Regular"),
    url("./fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
